<div class="w-50 m-auto pt-5 text-center">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>

  <form #textForm="ngForm" (submit)="onSubmit(textForm)">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Complete name" name="name" [(ngModel)]="user.name" required
              #name="ngModel">
    </div>
    This is {{user.name}}.

    <div class="form-group">
        <textarea type="text" class="form-control" placeholder="Text" name="text" [(ngModel)]="user.text" required
        #text="ngModel"></textarea>
    </div>

    <div *ngIf="name.invalid || text.invalid" class="alert alert-danger">
              All field are required.
    </div>

    <button type="submit" id="button">Submit</button>
  </form>
</div>
