<div class="w-50 m-auto pb-5 pt-5 text-center">

  <form #textForm="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Complete name" name="name" [(ngModel)]="user.name" required
              #name="ngModel" minlength="1" [disabled]="submittingInProcess">
    </div>

    <div class="form-group">
        <textarea type="text" class="form-control" placeholder="Text" name="text" [(ngModel)]="user.text" required
        #text="ngModel" minlength="1" [disabled]="submittingInProcess"></textarea>
    </div>

    <div class="form-group">
        <label for="colorpicker">Choose a color for your text:</label>
        <input [(colorPicker)]="defaultColor" [style.background]="defaultColor" class="form-control w-25 m-auto" id="colorpicker"/>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

    <button type="submit" id="button" [disabled]="submittingInProcess">Submit</button>
  </form>
</div>
