
<app-banner></app-banner>
<div class="container-fluid m-auto justify-content-center">
    <div class="text-center mt-5">
        <h1>Welcome in our Test Application!</h1>
        <h3>Type in your complete name and your text!</h3>
    </div>

    <!--Receive emitted data from FormComponent-->
    <app-form (messageToPrint)="toPrint($event)"
              (invalidData)="setInvalidData($event)">
    </app-form>

    <!--Send data to MessageComponent-->
    <app-message [isValidData]="isValidData"
                 [submittedName]="submittedName"
                 [submittedText]="submittedText"
                 [choosenColor]="choosenColor">
    </app-message>
</div>
